DATABASE_URL=postgresql://user:password@host:5432/database?sslmode=require

DB_HOST=localhost
DB_PORT=5432
DB_NAME=lab-5.v2
DB_USER=postgres
DB_PASSWORD=your_postgres_password

MAILJET_API_KEY=your_mailjet_api_key
MAILJET_SECRET_KEY=your_mailjet_secret_key
SMTP_FROM=Volunteering Website <verified_sender@example.com>
APP_BASE_URL=http://localhost:3000

PORT=3000
