<main>
    <div class="users-list-main">
        <a href="#" class="user-card-link">
            <article class="user-card">
                <div class="card-content">
                    <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="User Profile Picture" class="profile-pic">
                    <div class="card-data">
                        <div class="user-data">
                            <p class="user-name" id="volunteer-name">Ім'я</p>
                            <p class="user-email" id="volunteer-email">testmail@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="user-tags" id="volunteer-tags">
                    <div class="user-tag">
                        <p class="user-tag-title">test-tag1</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">tag2</p>
                    </div>
                </div>
            </article>
        </a>
        <a href="#" class="user-card-link">
            <article class="user-card">
                <div class="card-content">
                    <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="User Profile Picture" class="profile-pic">
                    <div class="card-data">
                        <div class="user-data">
                            <p class="user-name" id="volunteer-name">Ім'я</p>
                            <p class="user-email" id="volunteer-email">testmail@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="user-tags" id="volunteer-tags">
                    <div class="user-tag">
                        <p class="user-tag-title">test-tag1</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">tag2</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">dsaldsdlkdsakldaldsaldkasldsladalkdlsakdlaskldasldasldkaskdlasdlasdaksdlasladk</p>
                    </div>
                </div>
            </article>
        </a>
        <a href="#" class="user-card-link">
            <article class="user-card">
                <div class="card-content">
                    <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="User Profile Picture" class="profile-pic">
                    <div class="card-data">
                        <div class="user-data">
                            <p class="user-name" id="volunteer-name">Ім'я</p>
                            <p class="user-email" id="volunteer-email">testmail@gmail.commmmmmmmmmmmmmmmmmmmm</p>
                        </div>
                    </div>
                </div>
                <div class="user-tags" id="volunteer-tags">
                    <div class="user-tag">
                        <p class="user-tag-title">test-tag1</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">tag2</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">dsaldsdlkdsakldaldsaldkasldsladalkdlsakdlaskldasldasldkaskdlasdlasdaksdlasladk</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">dsaldsdlkdsakldaldsaldkasldsladalkdlsakdlaskldasldasldkaskdlasdlasdaksdlasladk</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">dsaldsdlkdsakldaldsaldkasldsladalkdlsakdlaskldasldasldkaskdlasdlasdaksdlasladk</p>
                    </div>
                </div>
            </article>
        </a>
    </div>
</main>