<main>
    <div class="users-list-main">
        <a href="#" class="user-card-link">
            <article class="user-card">
                <div class="card-content">
                    <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="User Profile Picture" class="profile-pic">
                    <div class="card-data">
                        <div class="user-data">
                            <p class="user-name" id="volunteer-name">Олег</p>
                            <p class="user-email" id="volunteer-email">oleg@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="user-tags" id="volunteer-tags">
                    <div class="user-tag">
                        <p class="user-tag-title">Медикаменти</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Збори коштів</p>
                    </div>
                </div>
            </article>
        </a>
        <a href="#" class="user-card-link">
            <article class="user-card">
                <div class="card-content">
                    <img src="/public/images/account-icon.png" alt="User Profile Picture" class="profile-pic">
                    <div class="card-data">
                        <div class="user-data">
                            <p class="user-name" id="volunteer-name">Анна</p>
                            <p class="user-email" id="volunteer-email">anna@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="user-tags" id="volunteer-tags">
                    <div class="user-tag">
                        <p class="user-tag-title">Медична допомога</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Теплий одяг</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Гуманітарна допомога</p>
                    </div>
                </div>
            </article>
        </a>
        <a href="#" class="user-card-link">
            <article class="user-card">
                <div class="card-content">
                    <img src="/public/images/account-icon.png" alt="User Profile Picture" class="profile-pic">
                    <div class="card-data">
                        <div class="user-data">
                            <p class="user-name" id="volunteer-name">Микола</p>
                            <p class="user-email" id="volunteer-email">mykola@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="user-tags" id="volunteer-tags">
                    <div class="user-tag">
                        <p class="user-tag-title">Паливо</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Амуніція</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Допомога переселенцям</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Збори коштів</p>
                    </div>
                </div>
            </article>
        </a>
    </div>
</main>