.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(68, 68, 68, 0.5);
    z-index: 100;
}

.modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 30rem;
    max-height: 44.4375rem;
    min-height: 26.0625rem;
    color: #1c1c1c;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #f0f0f0;
    padding: 2.1875rem 1.875rem;
    border-radius: 20px;
    z-index: 101;
    transition: transform 0.3s ease;
}

.close-modal-button {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.close-modal-button img {
    width: 16px;
    height: 16px;
    margin: 0;
}

.close-modal-button:hover {
    background-color: #c6c6c6;
}

.close-modal-button:active {
    background-color: #b1b1b1;
}


.form {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.form.active-modal {
    display: flex;
}

.modal-heading {
    font-size: 26px;
    margin-bottom: 20px;
}

.text-input {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    gap: 5px;
    width: 100%
}

.text-input input, select {
    width: 100%;
    height: 3rem;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    padding: 0 15px;
}

.text-input select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url('/public/images/down.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 28px;
    padding: 0 15px;
    cursor: pointer;
}

.text-input label {
    padding-left: 10px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 50px;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 48%;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-password img {
    width: 26px;
    height: 26px;
}

.toggle-password:hover {
    background-color: #d7d7d7;
}

.toggle-password:active {
    background-color: #c6c6c6;
}

.submit-button {
    width: 100%;
    max-width: 260px;;
    height: 48px;
    border: none;
    border-radius: 15px;
    background-color: #d9d9d9;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #c6c6c6;
}

.submit-button:active {
    background-color: #b1b1b1;
}

.footer {
    display: flex;
    gap: 5px;
    align-items: center;
}