<div class="modal-overlay hidden" id="modal-overlay"></div>
<div class="modal-window hidden" id="login-reg-modal">
    <button type="button" class="close-modal-button" id="close-modal-button" aria-label="Закрити вікно">
        <img src="/public/images/close-modal-icon.png" alt="Close window">
    </button>
    <h1 class="modal-heading">Вхід</h1>
    <form class="form active-modal" id="login-form">
        <div class="text-input">
            <label for="email" class="input-title">Електронна пошта</label>
            <input type="email" id="email_login" name="email" required>
        </div>
        <div class="text-input password-wrapper">
            <label for="password" class="input-title">Пароль</label>
            <input type="password" id="password_login" name="password" required>
            <button type="button" class="toggle-password" aria-label="Показати/Сховати пароль">
                <img src="/public/images/hidden-icon.png" alt="password hidden">
            </button>
        </div>
        <button type="submit" class="submit-button">Увійти</button>
        <div class="footer">
            <p>Немає акаунту?</p>
            <a href="#">Зареєструватись</a>
        </div>
    </form>
    <form class="form" id="registration-form">
        <div class="text-input">
            <label for="role" class="input-title">Роль</label>
            <select name="role" id="role">
                <option value="vo" selected>Волонтер</option>
                <option value="mi">Військовий</option>
            </select>
        </div>
        <div class="text-input">
            <label for="email" class="input-title">Електронна пошта</label>
            <input type="email" id="email_registration" name="email" required>
        </div>
        <div class="text-input">
            <label for="text" class="input-title">Ім'я / Назва</label>
            <input type="text" id="text_registration" name="text" required>
        </div>
        <div class="text-input password-wrapper">
            <label for="password" class="input-title">Пароль</label>
            <input type="password" id="password_registration" name="password" required>
            <button type="button" class="toggle-password" aria-label="Показати/Сховати">
                <img src="/public/images/hidden-icon.png" alt="password hidden">
            </button>
        </div>
        <div class="text-input password-wrapper">
            <label for="password-confirmation" class="input-title">Підтвердження пароля</label>
            <input type="password" id="password-confirmation" name="password-confirmation" required>
            <button type="button" class="toggle-password" aria-label="Показати/Сховати">
                <img src="/public/images/hidden-icon.png" alt="password confirmation hidden">
            </button>
        </div>
        <button type="submit" class="submit-button">Зареєструватись</button>
        <div class="footer">
            <p>Вже є акаунт?</p>
            <a href="#" id="register">Увійти</a>
        </div>
    </form>
</div>