<div class="modal-overlay hidden" id="modal-overlay"></div>
<div class="answer-request-modal-window hidden" id="answer-request-modal">
    <button class="close-modal-button" id="close-modal-button" aria-label="Закрити вікно">
        <img src="/public/images/close-modal-icon.png" alt="Close window">
    </button>
    <h1 class="modal-heading">Відгукнутись</h1>
    <form class="form active-modal" id="answer-request-form">
        <div class="answer-text-input">
            <label for="answer-title" class="input-title">Заголовок</label>
            <input type="text" id="answer-title" name="answer-title" required>
        </div>
        <div class="answer-text-input post-description">
            <label for="answer-text" class="input-title">Текст</label>
            <div class="textarea-wrapper">
                <textarea id="answer-text" name="answer-text" class="answer-textarea" required></textarea>
                <div class="image-container" id="image-preview-container">
                    <button class="remove-image-button" aria-label="Видалити">
                        <div class="remove-image-overlay"></div>
                        <img src="/public/images/close-icon.png" class="remove-image-icon" alt="remove image">
                        <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" class="added-image" alt="added-image">
                    </button>
                    <button class="remove-image-button" aria-label="Видалити">
                        <div class="remove-image-overlay"></div>
                        <img src="/public/images/close-icon.png" class="remove-image-icon" alt="remove image">
                        <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" class="added-image" alt="added-image">
                    </button>
                    <button class="remove-image-button" aria-label="Видалити">
                        <div class="remove-image-overlay"></div>
                        <img src="/public/images/close-icon.png" class="remove-image-icon" alt="remove image">
                        <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" class="added-image" alt="added-image">
                    </button>
                    <button class="remove-image-button" aria-label="Видалити">
                        <div class="remove-image-overlay"></div>
                        <img src="/public/images/close-icon.png" class="remove-image-icon" alt="remove image">
                        <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" class="added-image" alt="added-image">
                    </button>
                    <button class="remove-image-button" aria-label="Видалити">
                        <div class="remove-image-overlay"></div>
                        <img src="/public/images/close-icon.png" class="remove-image-icon" alt="remove image">
                        <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" class="added-image" alt="added-image">
                    </button>
                </div>
                <hr class="textarea-divider">
                <label for="image-upload" class="image-upload-icon" title="Додати фото">
                    <img src="/public/images/image-icon.png" alt="Додати фото">
                </label>
                <input type="file" id="image-upload" accept="image/*" multiple hidden>
            </div>
        </div>
        <button type="submit" class="submit-button">Надіслати</button>
    </form>
</div>
