<article class="post">
    <header class="request-post-header">
        <div class="request-post-header-left">
            <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="User Profile Picture" class="post-profile-pic">
            <div class="post-data">
                <div class="user-info">
                    <p class="name">Ім'я</p>
                    <p class="dot">•</p>
                    <time datetime="2025-07-04T14:00:00" class="post-date">2 дн.</time>
                </div>
                <p class="user-role">Військовий</p>
            </div>
        </div>
        <button class="answer-request-button" id="answer-request-button" aria-label="Відгукнутись">
            <span class="button-text">Відгукнутись</span>
            <img class="button-icon" src="/public/images/answer-icon.png" alt="Відгук icon">
        </button>
    </header>
    <div class="post-content">
        <h2 class="post-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h2>
        <p class="post-description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It was popularised in the 1960s with</p>
        <section class="post-photos">
            <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="post photo" class="photo">
            <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="post photo" class="photo">
            <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="post photo" class="photo">
            <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="post photo" class="photo">
        </section>
    </div>
</article>
<article class="post">
    <header class="request-post-header">
        <div class="request-post-header-left">
            <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="User Profile Picture" class="post-profile-pic">
            <div class="post-data">
                <div class="user-info">
                    <p class="name">Ім'я</p>
                    <p class="dot">•</p>
                    <time datetime="2025-07-04T14:00:00" class="post-date">2 дн.</time>
                </div>
                <p class="user-role">Військовий</p>
            </div>
        </div>
        <button class="answer-request-button" id="answer-request-button" aria-label="Відгукнутись">
            Відгукнутись
        </button>
    </header>
    <div class="post-content">
        <h2 class="post-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h2>
        <p class="post-description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It was popularised in the 1960s with</p>
        <section class="post-photos">
            <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="post photo" class="photo">
            <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="post photo" class="photo">
            <img src="/public/images/premium_photo-1689568126014-06fea9d5d341.jpg" alt="post photo" class="photo">
        </section>
    </div>
</article>