<main>
    <div class="users-list-main">
        <a href="#" class="user-card-link">
             <article class="user-card">
                <div class="card-content">
                    <img src="/public/images/account-icon.png" alt="User Profile Picture" class="profile-pic">
                    <div class="card-data">
                        <div class="user-data">
                            <p class="user-name">Максим</p>
                            <p class="user-email">maksym@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="user-tags">
                    <div class="user-tag">
                        <p class="user-tag-title">Допомога фронту</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Збір на авто</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Медикаменти</p>
                    </div>
                </div>
            </article>
        </a>
        <a href="#" class="user-card-link">
            <article class="user-card">
                <div class="card-content">
                    <img src="/public/images/account-icon.png" alt="User Profile Picture" class="profile-pic">
                    <div class="card-data">
                        <div class="user-data">
                            <p class="user-name">Олексій</p>
                            <p class="user-email">oleksiy@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="user-tags">
                    <div class="user-tag">
                        <p class="user-tag-title">Бронежилети</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Медикаменти</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Амуніцію</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Фронтова допомога</p>
                    </div>
                    <div class="user-tag">
                        <p class="user-tag-title">Паливо</p>
                    </div>
                </div>
            </article>
        </a>
        <a href="#" class="user-card-link">
        <article class="user-card">
            <div class="card-content">
                <img src="/public/images/account-icon.png" alt="User Profile Picture" class="profile-pic">
                <div class="card-data">
                    <div class="user-data">
                        <p class="user-name">Назар</p>
                        <p class="user-email">nazar@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="user-tags">
                <div class="user-tag">
                    <p class="user-tag-title">Дрони</p>
                </div>
                <div class="user-tag">
                    <p class="user-tag-title">Тактичне спорядження</p>
                </div>
                <div class="user-tag">
                    <p class="user-tag-title">Медикаменти</p>
                </div>
            </div>
        </article>
        </a>
    </div>
</main>