<div class="user-profile">
    <header class="profile-header">
        <img src="/public/images/account-icon.png" alt="User Profile Picture">
        <div class="profile-info">
            <div class="profile-text">
                <p class="profile-name">Гість</p>
                <p class="profile-role">Неавторизований користувач</p>
            </div>
            <div class="profile-tags" id="user-profile-tags"></div>
            <button class="edit-profile-button" id="edit-profile-button">Редагувати</button>
        </div>
    </header>
    <div class="profile-divider">
        <hr class="line">
        <span class="divider-text">ОПИС</span>
        <hr class="line">
    </div>
    <div class="profile-content">
        <p class="profile-description">Увійдіть у систему, щоб переглянути та редагувати власний профіль.</p>
    </div>
</div>
<div class="profile-posts">
    <h2 class="profile-posts-heading">Дописи</h2>
    <div id="generated-profile-posts"></div>
</div>
